* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
:root {
  --desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
body {
  display: block;
    padding-top: 148px;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet) 0%,
    var(--soft-blue) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

.wrapper {
  max-width: 920px;
  position: relative;
  background: white;
  margin: 0 auto 0;
  border-radius: 20px;
  display: block;
  padding-top: 90px;
  width: calc(100% - 30px);
}
.icon {
  width: 100%;
  position: absolute;
  top: -110px;
  padding: 0;
  padding-right: 40px;
  padding-bottom: 10px;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 240px;
  text-align: center;
  overflow: visible;
}
.icon img.icon-mobile{
  /* padding-right: 30px; */
  margin: 0 auto;
  animation: pulse 3s ease-in-out infinite;
}
.icon img.icon-desktop{
  display: none;
}
.contenido {
  padding: 30px 0 50px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.tittle {
  padding: 50px 0 20px 0;
}
.acordeon {
  box-sizing: border-box;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  width: 85%;
}
.acordeon-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.acordeon input:checked ~ .acordeon-tittle {
  font-weight: bold;
}
.acordeon input:checked ~ .acordeon-tittle img {
  transform: rotateX(180deg);
}
.acordeon-item input {
  display: none;
}
.acordeon__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.acordeon-item::after {
  content: "";
  height: 1px;
  width: 85%;
  background: var(--dark-grayish-blue);
  position: absolute;
}
.flecha {
  padding: 10px;
}
.acordeon-respuesta {
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
  width: 80%;
}
.acordeon input:checked ~ .acordeon-respuesta {
  height: auto;
  margin: 0 0 5px 0;
  padding: 0 0px 10px 0;
  width: 80%;
  overflow: inherit;
}

@-webkit-keyframes pulse {
  0% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px)
  }
  50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px)
  }
  100% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px)
  }
}
@keyframes pulse {
  0% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px)
  }
  50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px)
  }
  100% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px)
  }
}

@media screen and (min-width: 991px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px 0;
    width: 100%;
  }
  .wrapper{
    position: relative;
    padding-top: 0;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 200px);
      max-width: 920px;
      margin: 0 auto 0;
      box-shadow: 0px 15px 30px -15px rgba(0,0,0,0.4);
  }
  .icon{
    padding: 70px 0 80px;
    width: 390px;
    position: relative;
    line-height: 0;
    overflow: hidden;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: right 0px top -20px;
    text-align: initial;
    top: 0;
    background-size: cover;
    height: fit-content;

  }
  .wrapper::after{
    content: url(../images/illustration-box-desktop.svg);
    position: absolute;
    left: -105px;
    top: 190px;
    float: right;
    animation: pulse 3s ease-in-out infinite;
  }
  .icon img.icon-mobile{
    display: none;
  }
  .icon img.icon-desktop{
    float: right;
    display: initial;
    margin: 0 auto;
  }
  .acordeon-tittle:hover {
    color: var(--soft-red);
    cursor: pointer;
  }
  .acordeon-item::after{
    width: 34%;
  }
  .contenido{
    padding: 70px 0 80px;
    width: calc(100% - 480px);
  }
}
