*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}
body{
    background-image: linear-gradient(to bottom, var(--soft-violet) 0%, var(--soft-blue) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    background: white;
    margin: 9em 1.5em 5em 1.5em;
    border-radius: 20px;
}
.icon{
    position: absolute;
    margin-top: -107px;
    margin-left: 15px;
}
.icon__arroba{
    display: none;
}
.icon_principal{
    position: absolute;
    margin-top: -100px;
}
.icon_sombra{
    position: relative;
    margin-top: -90px;
    margin-left: 30px;
}
.contenido{
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    padding: 50px 0 20px 0;
}
.acordeon{
    box-sizing: border-box;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    width: 85%;
    
}
.acordeon-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
/* .acordeon-tittle:hover{
color: var(--soft-red);
cursor: pointer;
} */
.acordeon input:checked ~ .acordeon-tittle{
    font-weight: bold;
}
.acordeon input:checked ~ .acordeon-tittle img{
    transform: rotateX(180deg);
}
.acordeon-item input{
    display: none;
}
.acordeon__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.acordeon-item::after{
    content: "";
    height: 1px;
    width: 74%;
    background:  var(--dark-grayish-blue);
    position: absolute;
}
.flecha{
    padding: 10px;
}
.acordeon-respuesta{
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
}
.acordeon input:checked ~ .acordeon-respuesta{
    height: auto;
    margin: 5px 0;
    padding: 0 0px 10px 0;
    width: 80%;
}








